header{

  > p {
    cursor: pointer;
  }

  width: 100%;
  height: 3.75rem;

  padding: 0 1rem;

  background: var(--red-500);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--white);
}

.avatar{
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  background: var(--gray-900);

  border: 2px solid var(--white);

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color:  var(--white);
  }
}

.search-container{
  background: var(--white);
  height: 80%;
  width: 24%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.5rem;

  border-radius: 50px;

  input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0 0.5rem;
  }

  button {
    background: var(--gray-900);
    border-radius: 50px;
    color: var(--white);

    height: 80%;
    width: 6rem;

    border: 2px solid var(--red-500)
  }

}
