.container {
  height: 15rem;
  width: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

header.image-container {
  height: 12rem;
  width: 100%;

  img {
    height: 12rem;
    width: 100%;
  }
}

footer{
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    text-align: center;
  }

  .title {

  }
}

.rate {
  background: var(--red-500);
  padding: 0 0.6rem;
  border-radius: 50px;
}
