.container{

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  color: var(--gray-900);

  width: 28rem;
  height: 28rem;

  background: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 3rem;

  border-radius: 4px;

  strong {
    color: var(--gray-900);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    gap: 0.5rem;

    input {
      width: 100%;

      height: 2.5rem;
      padding: 0 1rem;

      border-radius: 4px;

      border: 1px solid var(--gray-600);
    }

    button {
      width: 100%;
      height: 1.8rem;

      margin-top: 2rem;

      background: var(--gray-900);
      color: var(--white);
      border-radius: 4px;
    }
  }

  a{
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--gray-900);
    font-weight: bold;
  }
}
