.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  margin: 0 auto;
  overflow-y: auto;
}

.banner-container{
  height: 20rem;
  width: 100%;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  position: relative;

}

.banner-content{
  display: flex;
  width: 100%;

  img {
    width: 100%;
    height: 20rem;
  }

  button {
    width: 1.5rem;
    height: 1.5rem;
    border-color: var(--red-500);
    color:  var(--red-500);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .button-left{
    position: absolute;
    left: 10px;
    align-self: center;
  }

  .button-right{
    position: absolute;
    right: 10px;
    align-self: center;
  }

}

.bullet-container{
  display: flex;
  justify-content: center;
  margin-top: -1.5rem;
  gap: 2px;

  span{
    display: inline-block;
    border-radius: 50%;
    height: 0.8rem;
    width:  0.8rem;
    background: var(--white);
    border: 1px solid (--gray-900);
  }

  .selected {
    background: var(--red-500);
  }
}

.list-games{
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 2rem;
}

.view-more{
  margin: 2rem auto;
  background: var(--red-500);
  color: var(--white);
  font-size: 0.75rem;
  padding: 0.5rem 1rem;

}

.empty-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

